@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
.card__badge {
  display: flex;
  flex-direction: row-reverse;
}
.card__badge--nouveau {
  position: absolute;
  font-size: var(--font-new-alert-size);
  border: none;
  background-color: var(--third-color);
  color: var(--dark-green);
  padding: 7px 9px 6px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 2px;
  z-index: 2;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 25px 16px 16px;
}
.card__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: var(--font-text-size);
}
.card__subtitle {
  margin: 0;
  font-size: var(--font-card-subtitle-size);
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__cards a {
  width: 100%;
  flex-grow: 0;
}

@media (min-width: 1024px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
  }
  .restaurants__cards a {
    width: 30%;
    flex-grow: 1;
  }
}
@media (min-width: 767.98px) and (max-width: 1024px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
  }
  .restaurants__cards a {
    width: 30%;
    flex-grow: 1;
  }
}
.menu__card {
  display: flex;
  flex-direction: column;
  border-radius: 15.04px;
  background-color: var(--footer-btn-text-color);
  padding: 13.5px 15px;
  margin-top: 12px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
}
.menu__infos {
  display: flex;
  justify-content: space-between;
}
.menu__infos--subtitle {
  font-size: var(--font-subtitle-menu-size);
  margin: 0;
}

@media (min-width: 1024px) {
  .container {
    padding: 0;
  }
  .menu {
    width: 66%;
  }
}
@media (min-width: 767.98px) and (max-width: 1024px) {
  .container {
    padding: 0;
  }
  .menu {
    width: 66%;
  }
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__link {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.navbar__back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 42px;
}
.navbar__logo {
  width: 197px;
  height: 36px;
  padding: 17px 0px 16px 17px;
}
.navbar__no-margin {
  margin: 0;
}
.navbar .location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 100%;
  background-color: var(--location-grey);
  padding: 16px 0;
}
.navbar .location__text {
  margin: 0;
  color: var(--dark-grey);
  font-size: var(--font-body-size);
}

@media (min-width: 1024px) {
  .navbar__back {
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
  .navbar__arrow {
    width: 44%;
  }
  .navbar__logo {
    width: 200px;
    height: 34px;
    padding: 30px;
  }
  .navbar__no-margin {
    margin: 0;
  }
}
@media (min-width: 767.98px) and (max-width: 1024px) {
  .navbar__back {
    align-items: center;
    gap: 0;
  }
  .navbar__arrow {
    width: 40%;
  }
  .navbar__logo {
    width: 200px;
    height: 34px;
    padding: 30px;
  }
  .navbar__no-margin {
    margin: 0;
  }
}
.infos {
  background-color: var(--dark-grey);
  color: white;
}
.infos--padding {
  padding: 22px 25px;
  display: block;
}
.infos__logo {
  font-size: 18px;
  padding-right: 0;
}
.infos__content {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 7px;
  padding-top: 16px;
}
.infos__content--position {
  display: flex;
  align-items: center;
  gap: 11px;
}
.infos .contact-partenaire, .infos .contact {
  margin-right: 0;
}

@media (min-width: 1024px) {
  .infos--padding {
    padding: 64px 25px 30px;
    display: flex;
    flex-direction: row-reverse;
  }
  .infos__logo {
    padding-right: 44px;
  }
  .infos__content {
    flex-direction: row;
    align-items: center;
    padding-top: 0;
  }
  .infos__content--position {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .infos .contact-partenaire {
    margin-right: 40px;
  }
  .infos .contact {
    margin-right: 70px;
  }
}
@media (min-width: 767.98px) and (max-width: 1024px) {
  .infos--padding {
    padding: 64px 25px 30px;
    display: flex;
    flex-direction: row-reverse;
  }
  .infos__logo {
    padding-right: 12px;
  }
  .infos__content {
    flex-direction: row;
    align-items: center;
    padding-top: 0;
  }
  .infos__content--position {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .infos .contact-partenaire {
    margin-right: 20px;
  }
  .infos .contact {
    margin-right: 40px;
  }
}
* {
  font-family: "Roboto", sans-serif;
}
* .navbar__logo, * .title, * .infos__logo {
  font-family: "Shrikhand";
  font-weight: normal;
}

:root {
  --main-bg-color: #F3F3F3;
  --location-grey: #EAEAEA;
  --primary-color: #9356DC;
  --second-color: #FF79DA;
  --third-color: #99E2D0;
  --dark-green: #008766;
  --light-blue: #89C8FA;
  --dark-blue: #003A68;
  --dark-grey: #353535;
  --light-grey: #F6F6F6;
  --footer-btn-text-color: #FFFFFF;
  --icon-fonctionnement: #7E7E7E;
  --font-title-restaurant-size: 28px;
  --font-subtitle-menu-size: 15.04px;
  --font-title-size: 24px;
  --font-text-size: 18px;
  --font-card-subtitle-size: 17px;
  --font-body-size: 16px;
  --font-new-alert-size: 14px;
}

body {
  margin: 0;
}

.main-container {
  width: 100%;
}

.fa-solid {
  color: var(--icon-fonctionnement);
}

.fa-arrow-left {
  font-size: 20px;
  color: var(--dark-grey);
  font-weight: bold;
  padding: 10px;
}

.fa-heart {
  font-size: 24px;
}

.euro {
  color: var(--dark-grey);
  font-size: 15.04px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  padding: 30px 0;
}

.section-title {
  margin: 0;
  font-size: var(--font-title-size);
}

h1, h2 {
  margin: 0;
}

.img-card {
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  z-index: 1;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--main-bg-color);
  padding: 39px 34px 57px 26px;
}
.headline__title {
  width: 76%;
  font-size: var(--font-title-size);
}
.headline__text {
  font-size: var(--font-text-size);
  margin-bottom: 24px;
  color: var(--dark-grey);
}
.headline__btn {
  padding: 13px 18px;
  border-radius: 24px;
  color: white;
  font-size: var(--font-body-size);
  font-weight: bold;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.fonctionnement {
  margin: 0 20px;
  padding: 48px 0;
}
.fonctionnement__title {
  margin-bottom: 26px;
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}
.fonctionnement__btn-number {
  color: white;
  background-color: var(--primary-color);
  border-radius: 16px;
  border: none;
  height: 24px;
  width: 24px;
  position: absolute;
  z-index: 1;
}
.fonctionnement__content {
  display: flex;
  gap: 26px;
  border-radius: 20px;
  background-color: var(--light-grey);
  padding: 28px 38px;
  position: relative;
  left: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 260px;
}
.fonctionnement .icon {
  font-size: 20px;
}

.restaurant-bg {
  background-color: var(--main-bg-color);
}

.restaurants {
  padding-top: 54px;
  padding-bottom: 66px;
  margin: 0 15px;
}
.restaurants__title {
  margin-bottom: 26px;
}

.fa-utensils, .fa-handshake-angle {
  color: white;
}

.fa-handshake-angle {
  font-size: 12px;
}

.image-bg {
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
}

.restaurant {
  background-color: var(--light-grey);
  padding: 32px 17px 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: normal;
}
.restaurant__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.restaurant .title {
  font-size: var(--font-title-restaurant-size);
}

.menu {
  padding-top: 40px;
}
.menu__list {
  display: flex;
  width: 42px;
  border-bottom: 3px solid var(--third-color);
}
.menu__list--title {
  font-size: var(--font-body-size);
  font-weight: normal;
  margin-bottom: 10px;
}

.commander {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.commander__btn {
  padding: 16px 48px 15px 49px;
  border-radius: 24px;
  color: white;
  font-size: var(--font-body-size);
  font-weight: bold;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.position {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 292px;
}

.heart {
  padding-right: 26px;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 180px;
  }
  .card__content {
    margin: 16px 25px 16px 18px;
  }
  .headline__title {
    font-size: 40px;
  }
  .fonctionnement {
    margin: 0;
    padding: 50px 0;
  }
  .fonctionnement__cards {
    display: flex;
    gap: 24px;
  }
  .fonctionnement__card {
    padding-bottom: 0;
  }
  .fonctionnement__content {
    padding: 28px;
    width: 80%;
  }
  .fonctionnement a {
    width: 30%;
  }
  .restaurants {
    margin: 0;
    padding-bottom: 30px;
  }
  .image-bg {
    height: 454px;
  }
  .restaurant {
    padding: 51px 20px 40px;
    margin: 0 192px;
    align-items: center;
  }
  .restaurant__headline {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .position {
    top: 496px;
  }
}
@media (min-width: 767.98px) and (max-width: 1024px) {
  .container {
    padding: 0 90px;
  }
  .card__content {
    margin: 16px 25px 16px 18px;
  }
  .headline__title {
    font-size: 40px;
  }
  .fonctionnement {
    margin: 0;
    padding: 50px 0;
  }
  .fonctionnement__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
  }
  .fonctionnement__card {
    padding-bottom: 0;
  }
  .fonctionnement__content {
    padding: 28px;
    width: 80%;
  }
  .fonctionnement a {
    width: 48%;
  }
  .restaurants {
    margin: 0;
    padding-bottom: 30px;
  }
  .image-bg {
    height: 400px;
  }
  .restaurant {
    padding: 51px 20px 40px;
    margin: 0 100px;
    align-items: center;
  }
  .restaurant__headline {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .position {
    top: 436px;
  }
}

/*# sourceMappingURL=main.css.map */
