.menu {
  &__card {
    display: flex;
    border-radius: 15.04px;
    position: relative;
    overflow: hidden;
    background-color: var(--footer-btn-text-color);
    padding: 0;
    margin-top: 12px;
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.10);

    &:hover .price {
      margin-right: 70px;
    }
    &:hover .menu__check {
      margin-right: -10px;
    }

    &:hover .menu__infos {
      &--subtitle {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    cursor: pointer;
    overflow: hidden;

    &--infos {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 13.5px 15px;
    }
    &:hover .menu__infos {
      width: 220px;
    }
  }

  &__infos {
    overflow: hidden;
    white-space: nowrap;

    &--subtitle {
      font-size: var(--font-subtitle-menu-size);
      margin: 0;
    }
  }

  & .price {
    padding: 13.5px 0;
    margin-right: 15px;
    transition: 400ms ease-in-out;
  }

  &__check {
    width: 70px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-size: 24px;
    background-color: var(--third-color);
    border-top-right-radius: 15.04px;
    border-bottom-right-radius: 15.04px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 400ms ease-in-out;
    margin-right: -100px;

    & .fa-circle-check {
      color: white;
      margin-left: 18px;
    }
  }
}

.menus {
  &__1 {
    animation: menus 1s ease-in-out forwards;
  }
  &__2 {
    animation: menus 1.6s ease-in-out forwards;
  }
  &__3 {
    animation: menus 2.2s ease-in-out forwards;
  }

  & .menu__item--1 {
    transform-origin: left;
    animation: menu 700ms both;
  }
  & .menu__item--2 {
    transform-origin: left;
    animation: menu 860ms both;
  }
  & .menu__item--3 {
    transform-origin: left;
    animation: menu 990ms both;
  }
}

@keyframes menus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu {
  0% {
    transform: scale(0, 0.6);
  }
  33% {
    transform: scale(1, 0.6);
    animation-timing-function: cubic-bezier(0.70, 0.01, 0.2, 0.80);
  }
}

// Desktop
@media (min-width: 1024px) {
  .container {
    padding: 0;
  }

  .menu {
    width: 66%;

    &__card {
      &:hover .menu__infos,
      &:hover .title {
        width: 100%;
      }
    }
    &__content:hover {
      width: 90%;
    }
    &__content--infos {
      width: 100%;
    }
  }
}


// Tablet
@media (min-width: 767.98px) and (max-width: 1024px) {
  .container {
    padding: 0;
  }

  .menu {
    width: 66%;

    &__card {
      &:hover .menu__infos,
      &:hover .title {
        width: 100%;
      }
    }
    &__content:hover {
      width: 84%;
    }
    &__content--infos {
      width: 100%;
    }
  }
}
