.menu {
  &__check {
    display: none;
  }

  &__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15.04px;
    flex: 1;
    cursor: pointer;
    background-color: var(--footer-btn-text-color);
    padding: 0;
    margin-top: 12px;
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.10);


    &:hover .price {
      margin-right: 34px;
      transition: 400ms ease-in-out;
    }


    @keyframes green-check {
      from {
        transform: translateX(0%);
      }

      to {
        transform: translateX(6px);
      }
    }

    &:hover .menu__check {
      // margin-right: -10px;
      width: 70px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 24px;
      background-color: var(--third-color);
      border-top-right-radius: 15.04px;
      border-bottom-right-radius: 15.04px;
      animation: green-check 400ms ease-in-out reverse;
      position: absolute;
      right: 0;
      top: 0;

      & .fa-circle-check {
        color: white;
      }
    }


    &:hover .menu__infos,
    &:hover .title {
      overflow: hidden;
      width: 220px;
      // height: 1.2em;/
      white-space: nowrap;

      &--subtitle,
      &:hover.card__title {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  & .price {
    margin-right: 15px;
    padding: 13.5px 0;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // padding: 13.5px 15px;
    width: 100%;

    &:hover {
      width: 76%;
    }

    &--infos {
      width: 82%;
      padding: 13.5px 15px;
    }
  }

  &__infos {
      &--subtitle {
      font-size: var(--font-subtitle-menu-size);
      margin: 0;
    }
  }
}



.menus {
  transform-origin: top left;
  animation: menu 660ms both;

  & .menu__card {
    animation: menu__item 450ms 275ms both;
  }

  & .menu__item--1 {
    transform-origin: left;
    animation: menu 700ms both;
  }
  & .menu__item--2 {
    transform-origin: left;
    animation: menu 860ms both;
  }
  & .menu__item--3 {
    transform-origin: left;
    animation: menu 990ms both;
  }
}

@keyframes menu {
  0% {
    transform: scale(0, 0.6);
  }
  33% {
    transform: scale(1, 0.6);
    animation-timing-function: cubic-bezier(0.70, 0.01, 0.2, 0.80);
  }
}

@keyframes menu__item {
  0% {
    transform: scaleY(-110%);
  }
}


// Desktop
@media (min-width: 1024px) {
  .container {
    padding: 0;
  }

  .menu {
    width: 66%;

    &__card {
      &:hover .menu__infos,
      &:hover .title {
        width: 100%;
      }

      // &:hover .menu__check {
      //   width: 70px;
      // }
    }

    &__content:hover {
      width: 90%;
    }
    &__content--infos {
      width: 100%;
    }
  }
}


// Tablet
@media (min-width: 767.98px) and (max-width: 1024px) {
  .container {
    padding: 0;
  }

  .menu {
    width: 66%;

    &__card {
      &:hover .menu__infos,
      &:hover .title {
        width: 100%;
      }
    }

    &__content:hover {
      width: 84%;
    }
    &__content--infos {
      width: 100%;
    }
  }
}
