.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;

  &__badge {
    display: flex;
    flex-direction: row-reverse;

    &--nouveau {
      position: absolute;
      font-size: var(--font-new-alert-size);
      border: none;
      background-color: var(--third-color);
      color: var(--dark-green);
      padding: 7px 9px 6px;
      margin-top: 15px;
      margin-right: 15px;
      border-radius: 2px;
      z-index: 2;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 25px 16px 16px;
  }
  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: var(--font-text-size);
  }
  &__subtitle {
    margin: 0;
    font-size: var(--font-card-subtitle-size);
  }
}

.img-card {
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  z-index: 1;
}

.restaurants {
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 18px;

    & a {
      width: 100%;
      flex-grow: 0;
    }
  }
}

// Desktop
@media (min-width: 1024px) {
  .card {
    &__content {
      margin: 16px 25px 16px 18px;
    }
  }

  .restaurants {
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px 100px;

      & a {
        width: 30%;
        flex-grow: 1;
      }
    }
  }
}

@media (min-width: 767.98px) and (max-width: 1024px) {
  .card {
    &__content {
      margin: 16px 25px 16px 18px;
    }
  }

  .restaurants {
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px 100px;

      & a {
        width: 30%;
        flex-grow: 1;
      }
    }
  }
}
